body {
	font-family: Arial, sans-serif;
	width: 35%;
	height: 100%;
	position: relative;
	left: 40%;
	top: 20px;
	padding: 30px;
	margin-top: 10px;
	border: 1px solid transparent;
	box-shadow: 0px 10px 10px gray;
	background-color: white;
}
html {
	background-color: rgb(227, 242, 253);
}
form {
	line-height: 2;
}