body {
	font-family: Arial, sans-serif;
	width: 50%;
	margin: auto;
}
#table-of-contents {
	margin-top: 10px;
	margin-left: 10px;
	border: 1px solid gray;
	border-radius: 5px;
	background-color: #FFF0F3;
}